body {
  background:#1470b2;
  margin: auto;
  padding: 2em 1em;
  text-align: center;
  font-size: 1.8em;
  font-family: sans-serif;
  color: #e6f0f0;
  max-width: 1000px;
}

header img {
  padding-right: 131px;
}

img {
  max-width: 100%;
}

a {
  color: #e6f0f0;
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: #e6f0f0;
  text-decoration: none;
  font-weight: bold;
}

a:active {
  color: #ff9500;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
 color: #ff9500;
 text-decoration: none;
 font-weight: bold;
}
