/* Border-Box Etc
--------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
@-ms-viewport {
  width: device-width;
}


/* Bootstrap Container
--------------------------------------------*/
.container {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 880px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: unset;
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1450px) {
  .container {
    width: 1420px;
  }
}


/* Body Wrap
--------------------------------------------*/
.body-wrap {
  margin-top: 45px;
}
@media (min-width: 992px) {
  .body-wrap {
    margin-top: 65px;
  }
}

/* Sections
--------------------------------------------*/
section {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  section {
    margin-bottom: 70px;
  }
}
@media (min-width: 992px) {
  section {
    margin-bottom: 90px;
  }
}

/* Wrappers and Clearfix
--------------------------------------------*/
.clearfix:before,
.clearfix:after,
.wrapper:before,
.wrapper:after,
.container:before,
.container:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  content: " ";
  display: table;
}
.clearfix:after,
.wrapper:after,
.container:after,
.form-horizontal .form-group:after {
  clear: both;
}
.col {
  position: relative;
  min-height: 1px;
}


/* Images
--------------------------------------------*/
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}


/* Embeds
--------------------------------------------*/
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}
