/* Keep Together
Wrap a span with this class around
text you dont want to break
------------------------------------------------------------- */
.keep-together {
  display: inline-block;
}


/* No Scroll on body
------------------------------------------------------------- */
.noscroll {
  overflow: hidden;
}


/* External Link
------------------------------------------------------------- */
.extLink {
  width: 0.8rem;
  vertical-align: middle;
  margin-left: 3px;
}


/* Visibility
------------------------------------------------------------- */
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}


/* Easy Floats
------------------------------------------------------------- */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}


/* HR Line
------------------------------------------------------------- */
.border,
.border-white {
  background: none repeat scroll 0 0 #eeeff1;
  display: block;
  height: 1px;
  margin: 0 auto;
  width: 200px;
  margin-bottom: 40px;
}
.border {
  background: none repeat scroll 0 0 #aeb2b2;
}
.border-white {
  background: none repeat scroll 0 0 #fff;
}


/* Img Responsive
------------------------------------------------------------- */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}