<section class="donate">
  <div class="wrapper donate-container">

    <img src="{{ svg_dir }}donate-qr.svg?{{ version }}" class="donate-qr">
    <div class="donate-textWrapper">
      <p class="donate-instructions">If you'd like to help fund our efforts you can send Bitcoin Cash to the address below.</p>
      <div class="donate-addressWrapper">
        <div class="donate-address">
          <span class="donate-addressSpan">bitcoincash:qrhea03074073ff3zv9whh0nggxc7k03ssh8jv9mkx</span>
        </div>
        <div class="donate-btn" data-clipboard-target=".donate-addressSpan">
          <div class="donate-btnInner">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" class="donate-copyBtn">
              <path d="M16 8v8H8v4h12V8h-4zm0-2h6v16H6v-6H0V0h16v6zM2 2v12h12V2H2z"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
