<section class="subtitle">
  <h2 class="subtitle-heading">BCHD is a mature, full node implementation of the Bitcoin Cash protocol</h2>
  <p class="subtitle-text">BCHD is an alternative BCH implementation written in Go. It is 100% compatible with the Bitcoin Cash protocol, and comes packed with developer-friendly features.</p>
</section>
