<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    {{> meta }}
    {{> css }}
    {{> analytics }}
  </head>
  <body>
    {{> body }}
    {{> back-to-top }}
    {{> js }}
  </body>
</html>